PORT=5000
CLIENT_ORIGIN=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=consignment_shop
JWT_SECRET=change-this-secret

GHN_API_BASE=https://online-gateway.ghn.vn/shiip/public-api
GHN_ALLOW_MOCK=true
GHN_TOKEN=
GHN_SHOP_ID=
GHN_FROM_DISTRICT_ID=
GHN_FROM_WARD_CODE=
GHN_FROM_NAME=The Heirloom
GHN_FROM_PHONE=0900000000
GHN_FROM_ADDRESS=Số 1 Đại Cồ Việt, Phường Bách Khoa, Quận Hai Bà Trưng, Hà Nội
GHN_FROM_WARD_NAME=Phường Bách Khoa
GHN_FROM_DISTRICT_NAME=Quận Hai Bà Trưng
GHN_FROM_PROVINCE_NAME=Thành phố Hà Nội
GHN_SERVICE_TYPE_ID=2
GHN_DEFAULT_WEIGHT=500
GHN_DEFAULT_LENGTH=30
GHN_DEFAULT_WIDTH=20
GHN_DEFAULT_HEIGHT=10


